.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
client/node_modules/**
node_modules/**
server/node_modules/**
client/src/**
server/src/**
server/out/**
!server/out/node/htmlServerMain.js
!node_modules/typescript/lib/**
